@font-face {
    font-family: Cormorant;
    src: url('../Fonts/CormorantUnicase-Bold.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: MontserratM;
    src: url('../Fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: MontserratL;
    src: url('../Fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: MontserratR;
    src: url('../Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Oranienbaum;
    src: url('../Fonts/Oranienbaum-Regular.ttf');
}
@font-face {
    font-family: CormorantR;
    src: url('../Fonts/CormorantUnicase-Regular.ttf');
}
button {
    outline: none!important;
}
body {
    margin: 0;
    padding: 0;
    font-family: MontserratL;

}
.section-head {
    font-family: Oranienbaum;
    font-size: 3em;
}
p {
    font-size: 15px;
}
span {
    font-size: 15px;
}
a {
    text-decoration: none;
    color: white;
}
ul  {
    list-style-type: none;
}
li  {
    font-size: 14px;
}
a:hover{
    text-decoration: none;
    color: white;
}
::-webkit-input-placeholder {
    color:white;
}

::-moz-placeholder {
    color:white;
}

::-ms-placeholder {
    color:white;
}

::placeholder {
    color:white;
}
input {
    width: 65%;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(196,196,196,0.1);
    margin: 5% 5% 5% 0;
    outline: none;
    color: white;
}
.section {
    width: 100vw;
    height: 100vh;
}
.Montserrat {
    font-family: Montserrat;
}
.monseratM {
    font-family: MontserratM;
}

.h1-main-section {
    font-family: Oranienbaum;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
    color: #E5A567;
}
.h2-main-section {
    font-family: MontserratL;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.h3-main-section {
    font-family: Oranienbaum;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.slide_first {
    height: 100vh;
    background: url('../img/slide1.png') no-repeat center center;
    background-size: cover;

}
.slide_second {
    height: 100vh;
    background: url('../img/slide2.png') no-repeat center center;
    background-size: cover;

}
.slide_third {
    height: 100vh;
    background: url('../img/slide3.png') no-repeat center center;
    background-size: cover;
}
.slide_four {
    height: 100vh;
    background: url('../img/slide4.png') no-repeat center center;
    background-size: cover;
}
.slide_five {
    height: 100vh;
    background: url('../img/slide5.png') no-repeat center center;
    background-size: cover;
}
.slide_six {
    height: 100vh;
    background: url('../img/slide-6.png') no-repeat center center;
    background-size: cover;
}
.img-material-1 {
    background: url('../img/material-1.png') no-repeat center center;

}
.nav-item {
    /*color: white!important;*/
}
.main-button {
    font-family: CormorantR;
    height: 62px;
    width: 100%;
    text-align: center;
    line-height: 62px;
    background: #E5A567;
    text-transform: uppercase;
    color: white;
}

.main-button:hover {
    box-shadow: 0px 7px 19px rgba(229, 165, 103, 0.34), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-button:active {
    background: white;
    color: #E5A567;
}
.consalt {
    color: #E5A567;
    text-transform: uppercase;
    line-height: 60px;
    border: 2px solid transparent;
}
.consalt:hover {
    border: 2px solid #E5A567;
    background: none;
}
.background-menu-color {
    background: #201C20;
}
.h-100vh {
    height: 100vh;
}


@media all  and (max-width: 1200px){
    .section-head {
        font-size: 2em;
    }
    .responsive-img {
        width: 100%;
    }
    .nav-item {
        font-size: 14px;
    }
    .responsive-img-popup {
        width: auto;
    }
    .consalt {
        font-size: 1em;
    }
    .visit {
        font-size: 0.7em;
    }
}
@media all  and (max-width: 992px){
    #navigation {
        text-align: center;
    }
    .nav-item {
        line-height: 2.5em;
    }

    .responsive-img-popup {
        width: auto;
    }

}
@media all  and (max-width: 768px){
    .h2-more {
        font-size: 1.5em;
    }
    .ex-head {
        font-size: 1em;
    }
    .under-head {
        font-size: 12px;
    }

}
@media all  and (max-width: 544px){
    input {
        width: 100%;
    }
    .slide_first {
        background: url('../img/slide1-mobile.png') no-repeat center center;
        background-size: cover;

    }
    .slide_second {
        background: #201C20;
    }

}
@media all  and (max-width: 375px){
    .h1-main-section {
        font-size: 2em;
        line-height: 1em;
    }
    .h3-main-section {
        font-size: 1em;
        line-height:1.2em;
    }
    .consalt {
        font-size: 0.70em;
    }
}
.nav-item {
    position: relative;
    top: 5px;
}
.next-slide {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.next-slide:hover {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.mouse-icon {
    position: relative;
    top: -2px;
}
.main-color {
    color: #E5A567;
}
.oranienbaum {
    font-family: Oranienbaum;
}
.material-topic {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
}
.material-head {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.know-more {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    color: #E5A567;
    opacity: 0.8;
}
.show-more {
    text-transform: uppercase;
    font-family: Cormorant;

}
.know-more-price {
    font-family: Oranienbaum;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    color: #E5A567;
}
.nopadding {
    padding-left: 0!important;
    padding-right: 0!important;
}
.nomargin {
    margin-left: 0!important;
    margin-right: 0!important;
}
.popup {
    background: #201C20;
    display: none;
}
.toggle-popup{
    cursor: pointer;
}
.popup-head {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* or 150% */
    text-transform: uppercase;
}
.buy-button {
    background: #E5A567;
    height: 50px;
    font-family: Cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.drop-arrow {
    float: right;
    position: relative;
    bottom: -5px;
    margin-right: 5px;
}
.buy-popup {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 400px;
    background: #201C20;
    display: none;
}
.buy-popup-fixed {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 400px;
    background: #201C20;
    display: none;
}
.head-buy {
    font-family: MontserratM;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}
.show-more-text {
    display: none;
}
.show-more {
    font-size: 17px;
}
.rotate {
    transform: rotate(180deg);
}
.item  {
    width: 100%!important;
}
.prev {
    height: 60px;
    width: 60px;
    position: relative;
    display: inline-block;
    opacity: 0.6;
    border: 1px solid #C49774;
}
.next {
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    border: 1px solid #C49774;
}
.center-absolute {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.owl-carousel {
    display: block!important;
}